.edit-and-generator-containers {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.meme-under-construction {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  word-wrap: break-word;
}

.text-under-construction {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 800;
  color: #ffffff;
  width: 350px;
  font-size: 32px;
  line-height: 1;
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

.text-complete-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 800;
}

.text-scroll-box {
  border: 1px solid #000000;
  background-color: #ffffff;
  height: 50vh;
  width: 30vw;
  overflow: auto;
}

textarea {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  resize: none;
  width: 30vw;
  padding: 10px;
}

.text-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.text-content:hover {
  cursor: pointer;
}
.text-delete {
  background-color: transparent;
  padding: 0 10px;
  color: #aca9a9;
  font-weight: 400;
  font-size: 32px;
}

.text-save {
  width: 30vw;
}

.text-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-content {
  font-size: 18px;
  text-align: left;
  padding-left: 20px;
}
