.complete-edit-screen {
  margin-top: 170px;
}

.editor-h3 {
  font-size: 50px;
  margin-bottom: 30px;
}

.text-title {
  font-size: 32px;
  font-weight: 900;
  line-height: 1;
  margin: 18px 0 5px 0;
  text-decoration: underline;
}

.edit-and-generator-containers {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-under-construction {
  height: 450px;
}

.meme-under-construction {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  word-wrap: break-word;
  margin-right: 50px;
}

.update-meme-btn {
  width: 302px;
  margin-top: 10px;
}

.text-under-construction {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 800;
  color: #ffffff;
  width: 300px;
  font-size: 32px;
  line-height: 1;
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

.text-complete-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-weight: 800;
  margin-left: 50px;
  height: 500px;
}

.text-scroll-box {
  border: 1px solid #000000;
  background-color: rgba(255, 255, 255, 0.6);
  height: 300px;
  width: 300px;
  overflow: auto;
}

textarea {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  resize: none;
  width: 300px;
  padding: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.6);
}

.text-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.text-content:hover {
  cursor: pointer;
}
.text-delete {
  background-color: transparent;
  padding: 0 10px;
  color: #6b6a6a;
  font-weight: 400;
  font-size: 32px;
  box-shadow: none;
}

.text-save {
  width: 300px;
  margin-top: 10px;
}

.new-image-btn {
  width: 300px;
  margin-top: 10px;
}

.text-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-content {
  font-size: 18px;
  text-align: left;
  padding-left: 20px;
}

/* ======== MEDIA QUERIES ============ */

@media only screen and (max-width: 700px) {
  .edit-and-generator-containers {
    flex-direction: column;
  }

  .text-complete-container {
    margin-left: 0px;
    margin-top: 30px;
  }

  .meme-under-construction {
    margin-right: 0px;
  }
}
