.meme-under-construction {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  word-wrap: break-word;
}

.text-under-construction {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 800;
  color: #ffffff;
  width: 350px;
  font-size: 32px;
  line-height: 1;
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

.text-complete-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 800;
}

.text-scroll-box {
  border: 1px solid #000000;
  height: 60vh;
  width: 342px;
  overflow: auto;
}

textarea {
  font-family: "Open Sans", sans-serif;
  resize: none;
  width: 342px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.text-content:hover {
  cursor: pointer;
}
