/* ======  SEE LOGIN SCREEN CSS ======= */

h3 {
  margin: 0;
}

.register-container {
  margin-right: 31vw;
}

.register-input {
  height: 32px;
  font-size: 20px;
  border-radius: 0;
  margin: 4px 4px 4px;
}

.register-submit-btn {
  width: 442px;
  margin: 4px 4px 20px;
  height: 40px;
}

@media only screen and (max-width: 1030px) {
  .register-container {
    margin-right: 0;
  }
}

@media only screen and (max-width: 633px) {
  .register-input {
    box-sizing: border-box;
    height: 35px;
    padding-left: 10px;
    width: 250px;
  }

  .register-submit-btn {
    box-sizing: border-box;
    width: 250px;
    height: 35px;
    padding: 0;
  }

  .register-word {
    display: none;
  }

  .register-container {
    margin-right: 0;
  }
}
