.background-guy {
  box-sizing: border-box;
  height: 100vh;
  background-image: url("../../assets/BackgroundGuy.jpg");
  background-size: cover;
  background-color: #3f4a3d;
  background-position: right;
  padding-top: 60vh;
}

h3 {
  margin: 0;
}

.login-container {
  margin-right: 31vw;
}

.login-input {
  height: 32px;
  font-size: 20px;
  border-radius: 0;
  margin: 0 2px 20px;
}

.login-btn {
  margin: 0 2px 20px;
  height: 40px;
}

/* ============= MEDIA QUERIES ================ */

@media only screen and (max-width: 600px) {
  .background-guy {
    box-sizing: border-box;
    height: 100vh;
    background-image: url("../../assets/BackgroundGuy-Small.jpg");
    background-size: cover;
    background-color: #3f4a3d;
    background-position: right;
  }

  h3 {
    margin: 0;
  }

  .login-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -100px !important;
  }

  .login-form {
    width: 250px;
  }

  .login-input {
    height: 28px;
    font-size: 20px;
    border-radius: 0;
    margin: 4px;
  }

  .login-submit {
    width: 216px !important;
    padding: 0;
    margin-top: 4px;
  }

  .login-word {
    display: none;
  }
}
