.gallery-complete-container {
  margin-top: 170px;
}

.instructions {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 20px;
}

.image-url-form {
  margin-top: 40px;
}

.new-url-input {
  height: 32px;
  border-radius: 0 !important;
  font-size: 18px;
  width: 350px;
  margin-bottom: 30px;
}

.all-images-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.image-card {
  margin: 30px;
}

.images-img-frame {
  width: 250px;
  height: 375px;
  overflow: hidden;
}

.images-btn-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.image-use-btn,
.image-delete-btn {
  width: 110px;
  margin-top: 10px;
}

/* ============================================================== */
/* ====================== MEDIA QUERIES ========================= */
/* ============================================================== */

@media only screen and (max-width: 600px) {
  .gallery-complete-container {
    margin-top: 75px;
    margin-bottom: 25px;
  }

  .image-url-form {
    margin-top: 20px;
  }

  .new-url-input {
    width: 300px;
    margin-bottom: 4px;
  }

  .instructions {
    font-size: 14px;
    margin: 0 50px;
  }

  .add-image-btn {
    margin-top: 4px;
  }
}
